#interface {
    text-align: center;
    font-size: large;
}

/*
#interface div {
    
}
*/

.dirtyStats, .cleanStats {
    font-size: x-large;
}

#bribeTimer {
    display: none;
    position: absolute;
    transform: translate(0.2em, 0.4em);
}

.purchaseArea {
    margin-top: 2%;
    margin-bottom: 2%;
}

#dirtySide {
    float: left;
    width: 40%;
}

#cleanSide {
    float: right;
    width: 40%;
}

#centerSide {
    top: 50%;
    left: 50%;
}

#politicalBribeCost, #relocateCost {
    display: block;
}

#saveInterface {
position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.interfaceImage {
    height: 100%;
    width: 22%;
}

.interfaceUpgradeImage {
    height: 100%;
    width: 8%;
}

.interfaceImage:hover, .interfaceUpgradeImage:hover {
    transform: translateY(-10px);
    transition: transform 2s;
    opacity: 0.8;
}

#temp {
    display: inline-block;
    width: 15%;
    text-align: center;
    display: none;
}

#temp button {
    background-color: dimgray;
    margin-block: 3px;
}

html button {
    border: 2px solid black;
    background-color: #fff;
    border-radius: 10px;
    margin: 3px;
}

.risk {
    display: inline-block;
}

#risk {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 12px;
}

#raid {
    font-size: 200px;
    font-weight: bolder;
    color: red;
    visibility: hidden;
}

#riskProgressBar {
    width: 1200px;
    height: 25px;
    margin: 0px;
    border-style: solid;
    background-color: transparent;
    border-radius: 10px
}

.progress-fill {
    width: 0%;
    border-radius: 5px;
    background: crimson;
    margin: 0px;
    transition: width 1s;
}

.progress-text {
    padding: 10px;
    text-align: center;
    color: "";
    font-size: "";
    font-style: "";
    font-family: "";
}

