{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}

{% block main %}
    <section id="interface">
        <div id="topSide">
            <div class="risk">
                <span id="riskLevel">Risk: 0</span>
                <div class="progress" id="riskProgressBar">
                    
                    <div class="progress-fill" id="riskProgressBarFill"></div>
                </div>
            </div>
        </div>
        <div id="dirtySide">
            <div class="dirtyStats"> 
                Dirty $: <span id="dirtyCash">0 / 1000</span>
                Dirty $/sec: <span id="dirtyIncomePerSec">0</span>
            </div>
            <div class="dirtyInterface">
                <div id="stealInterface" class="purchaseArea">
                    <input class="interfaceImage" id="stealButton" type=image draggable="false" src="static\images\steal.png" alt="Hands stealing money" title="Illegally aquire some cash!"/>
                    <input class="interfaceUpgradeImage" id="buyTape" type=image draggable="false" src="static\images\tape.png" alt="Roll of tape" title="Sticky fingers!"/>
                    <div>
                        Tapes: <span id="tapes"></span>
                        Cost: <span id="tapeCost"></span>
                    </div>
                </div>
                <div id="moneyPrinterInterface" class="purchaseArea">
                    <input class="interfaceImage" id="buyPrinter" type=image draggable="false" src="static\images\printer.png" alt="Printer" title="Print some dirty money!"/>
                    <input class="interfaceUpgradeImage" id="buyInk" type=image draggable="false" src="static\images\ink.png" alt="Ink cartridge" title="High quality!"/>
                    <div>
                        Printers: <span id="printers"></span>
                        Cost: <span id="printerCost"></span>
                    </div>
                    <div>
                        Inks: <span id="inks"></span>
                        Cost: <span id="inkCost"></span>
                    </div>
                </div>
                <div id="blackMarketInterface" class="purchaseArea">
                    <input class="interfaceImage" id="buyMarket" type=image draggable="false" src="static\images\blackmarket.png" alt="Black market booth" title="Sell goods on the black market!"/>
                    <input class="interfaceUpgradeImage" id="buyGuard" type=image draggable="false" src="static\images\guard.png" alt="Armed guard" title="Protect those goods!"/>
                    <div>
                        Black Markets: <span id="markets"></span>
                        Cost: <span id="marketCost"></span>
                    </div>
                    <div>
                        Guards: <span id="guards"></span>
                        Cost: <span id="guardCost"></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="cleanSide">
            <div class="cleanStats">
                Clean $: <span id="cleanCash">0</span>
                Clean $/sec: <span id="cleanIncomePerSec">0</span>
            </div>
            <div class="cleanInterface">
                <div id="sinkInterface" class="purchaseArea">
                    <input class="interfaceImage" id="launderButton" type=image draggable="false" src="static\images\sink.png" alt="Bathroom sink" title="Clean $1.00, minus tax of course!"/>
                    <input class="interfaceUpgradeImage" id="buySoap" type=image draggable="false" src="static\images\soap.png" alt="Bar of soap" title="Extra clean!"/>
                    <div>
                        Soaps: <span id="soaps"></span>
                        Cost: <span id="soapCost"></span>
                    </div>
                </div>
                <div id="machineInterface" class="purchaseArea">
                    <input class="interfaceImage" id="buyMachine" type=image draggable="false" src="static\images\machine.png" alt="Laundry machine" title="Automagically clean your money!"/>
                    <input class="interfaceUpgradeImage" id="buyDetergent" type=image draggable="false" src="static\images\detergent.png" alt="Laundry detergent" title="Kill those germs!"/>
                    <div>
                        Laundry Machines: <span id="machines"></span>
                        Cost: <span id="machineCost"></span>
                    </div>
                    <div>
                        Detergents: <span id="detergents"></span>
                        Cost: <span id="detergentCost"></span>
                    </div>
                </div>
                <div id="laundromatInterface" class="purchaseArea">
                    <input class="interfaceImage" id="buyLaundromat" type=image draggable="false" src="static\images\laundromat.png" alt="Laundromat" title="Clean even more money!"/>
                    <input class="interfaceUpgradeImage" id="buyAccountant" type=image draggable="false" src="static\images\accountant.png" alt="Accountant" title="Keep those books clean!"/>
                    <div>
                        Laundromats: <span id="laundromats"></span>
                        Cost: <span id="laundromatCost"></span>
                    </div>
                    <div>
                        Accountants: <span id="accountants"></span>
                        Cost: <span id="accountantCost"></span>
                    </div>
                </div>
            </div>
        </div>
                <div id="centerSide">
            <div id="taxRate">
                <span id="taxRate">Tax: 20%</span>
            </div>
            <div>
                <div id="bribeInterface">
                    <button type="button" id="politicalBribe" title="Temporarily reduce taxes!">Bribe Politician</button>
                    <span id="bribeTimer"></span>
                    <!--<button type="button" id="policeBribe" title="Temporarily disable raids!">Bribe Police</button>-->
                </div>
                <div>
                    <button type="button" id="relocate" title="Get (the hell) outta Dodge and start over!">Relocate</button>
                </div>
            <!-- CLICKS PER SECOND

                <div id="container">
                    <div id="zone"></div>
                    Clicks per second: <span id="counter">0</span>
                </div>
            -->
            <div id="temp">
                <button type="button" onClick="increaseDirtyIncome(1)">Increase Dirty Income</button> 
                <button type="button" onClick="requestClean(100)">Request 100 clean</button>
                <button type="button" onClick="requestClean(1000)">Request 1000 clean</button>
                <button type="button" onClick="requestClean(10000)">Request 10,000 clean</button>
                <button type="button" onClick="requestDirty(100)">Request 100 dirty</button>
                <button type="button" onClick="requestDirty(1000)">Request 1000 dirty</button>
                <button type="button" onClick="requestDirty(10000)">Request 10,000 dirty</button>
            </div>


                <div id="saveInterface">
                    <button type="button" id="createSave">Save</button>
                    <button type="button" id="loadSave">Load</button>
                    <button type="button" id="deleteSave">Delete Save</button>
                </div>

            </div>
        </div>
        <div class="centered" id="raid">RAID!</div>
    </section>
    
    <!--
    <button type="button" onClick="buyShop()">Buy Shop</button>
    Shops: <span id="shops">0</span><br />
    Cost: <span id="shopCost">1000</span>
    -->

{% endblock %}